# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(n):
    return str(n) == str(n)[::-1]

In [9]:
is_symmetrical(7227)

True

In [11]:
is_symmetrical(12567)

False

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples	
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [26]:
def multiply_nums(str):
    num =  str.split(',')
    i=1
    for i in num:
        mul = int(i)*int(i+1)
    return mul

# Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [ ]:
def square_digits(a):
    
    return Number(('' + num).split('').map(function (val) { return val * val;}).join(''));

# Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [39]:
def setify(a):
    a = [10,20,30,20,10,50,60,40,80,50,40]

    dup_items = set()
    uniq_items = []
    for x in a:
        if x not in dup_items:
            uniq_items.append(x)
            dup_items.add(x)


    print(dup_items)

# Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [43]:
def mean(numbers):
    total = 0
    for x in numbers:
        total += x
        mean = total%len(numbers)
    return mean