In [16]:
"""Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

"""
def next_in_line(lst,n):

    new_lst=[]
    del lst[0]
    print(lst)
    lst.append(n)
    print(lst)

In [17]:
next_in_line([5, 6, 7, 8, 9],1)

[6, 7, 8, 9]
[6, 7, 8, 9, 1]

In [9]:
"""Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

"""

def get_budgets(lst):
    lst=[{}]
    print(lst["budget"])

In [ ]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

In [20]:
"""Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"
"""

def alphabet_soup(str):
    sorted_char = sorted(str)
    str="".join(sorted_char)
    return str

In [21]:
alphabet_soup("hello")

'ehllo'

In [22]:
alphabet_soup("javascript")

'aacijprstv'

In [24]:
"""Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

"""

def return_only_integer(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

In [25]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]